{% extends 'cruds/detail.html' %}
{% load i18n %}
{% load crud_tags %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                {% if url_update and 'update' in views_available and crud_perms.update %}
                    <div class="box-header">
                        <a href="{{ url_update }}{{getparams}}" class="btn btn-primary" >{% trans "Edit" %}</a>
                    </div>
                {% endif %}
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <th>{% trans 'Label' %}</th><th>{% trans 'Value' %}</th>
                            </thead>
                            <tbody>
                                {% crud_fields object fields %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if url_list and 'list' in views_available and crud_perms.list %}
                    <div class="box-footer">
                        <a href="{{ url_list }}{{getparams}}" class="btn btn-primary">{% trans "Back to list" %}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12"> 
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">ExperimentSets using this Architecture</h3>
                </div>
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="ExperimentSetsTable" class="table table-bordered table-hover dataTable" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Id</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Name</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Description</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Public</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Status</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Timespend</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> On Created Executed</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> On Done Executed</th>
                                            <th class="" tabindex="0" rowspan="1" colspan="1"> Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>                       
                                        {% for experimentSet in object.experimentSets.all %}
                                            <tr>
                                                <td><a href="/metalearn/experimentset/{{ experimentSet.id }}">{{ experimentSet.id }}</a></td>
                                                <td>{{ experimentSet.name }}</td>
                                                <td>{{ experimentSet.description }}</td>
                                                <td>{{ experimentSet.public }}</td>
                                                <td>{{ experimentSet.status }}</td>
                                                <td>{{ experimentSet.timespend }}</td>
                                                <td>{{ experimentSet.on_created_executed }}</td>
                                                <td>{{ experimentSet.on_done_executed }}</td>
                                                <td> 
                                                    <a href="/metalearn/experimentset/{{ experimentSet.id }}" class="btn btn-success">{% trans "Show" %}</a>
                                                    <a href="/metalearn/experimentset/{{ experimentSet.id }}/update" class="btn btn-primary">{% trans "Edit" %}</a>  
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>            
        </div> <!-- /col-md-12 -->
    </div> <!-- /row -->
    



    <div class="row">
        <div class="col-md-12"> 
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Experiments using this Architecture</h3>
                </div>
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="ExperimentsTable" class="table table-bordered table-hover dataTable" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Id</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Public</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Status</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Timespend</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Fitness Min</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Fitness Max</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Fitness Avg</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Fitness Med</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Fitness top10</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> On Created Executed</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> On Done Executed</th>
                                            <th class="" tabindex="0" rowspan="1" colspan="1"> Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>                       
                                        {% for experiment in object.experiments.all %}
                                            <tr>
                                                <td><a href="/metalearn/experiment/{{ experiment.id }}">{{ experiment.id }}</a></td>
                                                <td>{{ experiment.public }}</td>
                                                <td>{{ experiment.status }}</td>
                                                <td>{{ experiment.timespend }}</td>
                                                <td>{{ experiment.fitness_min }}</td>
                                                <td>{{ experiment.fitness_max }}</td>
                                                <td>{{ experiment.fitness_avg }}</td>
                                                <td>{{ experiment.fitness_median }}</td>
                                                <td>{{ experiment.fitness_top10 }}</td>
                                                <td>{{ experiment.on_created_executed }}</td>
                                                <td>{{ experiment.on_done_executed }}</td>
                                                <td> 
                                                    <a href="/metalearn/experiment/{{ experiment.id }}" class="btn btn-success">{% trans "Show" %}</a>
                                                    <a href="/metalearn/experiment/{{ experiment.id }}/update" class="btn btn-primary">{% trans "Edit" %}</a>  
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>            
        </div> <!-- /col-md-12 -->
    </div> <!-- /row -->

<script>
    $(document).ready( function () {
        $('#ExperimentsTable').DataTable({ "searching": false });
        $('#ExperimentSetsTable').DataTable({ "searching": false });
    });
</script>

{% endblock %}
